version: 2.1

orbs:
  node: circleci/node@5.2

jobs:
  test:
    executor:
      name: node/default
      tag: "18.19"
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: npm
      - run:
          name: Run tests
          command: npm test

  deploy:
    executor:
      name: node/default
      tag: "18.19"
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: npm
      - run:
          name: Build project
          command: npm run build
      - run:
          name: Deploy to Firebase
          command: npx firebase-tools@13.29.1 deploy --token "$FIREBASE_TOKEN" --only hosting

workflows:
  test_and_deploy:
    jobs:
      - test
      - hold:
          type: approval
          requires:
            - test
          filters:
            branches:
              only: main
      - deploy:
          requires:
            - hold
          filters:
            branches:
              only: main
